.l-container {
	width: 1000px;
	max-width: 100%;
	margin: 0 auto;
	padding-left: 0;
	padding-right: 0;

	@include mq('tab') {
		padding-left: 24px;
		padding-right: 24px;
	}

	@include mq('sp') {
		padding-left: 16px;
		padding-right: 16px;
	}
}

.l-site-content {
	padding: 60px 0;
	margin-top: 100px;

	@include mq('sp') {
		margin-top: 80px;
		padding-top: 40px;
		padding-bottom: 40px;
	}
}

.l-site-content__breadcrumb {
	padding: 6px 0;
}

.l-content {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row-reverse;
}

.l-primary {
	width: 72%;

	@include mq('sp') {
		width: 100%;
	}

	.l-content--one-column & {
		width: 100%;
	}
}

.l-secondary {
	width: 28%;
	padding: 0 30px;

	@include mq('sp') {
		width: 100%;
		display: none;
	}

	&.l-content--one-column {
		width: 100%;
	}
}

// トップ
.l-top {

}

.l-top__slide {

}

.l-top__archive {
	margin-top: 32px;
}

.l-top__news {
	margin-top: 32px;
}
