<div class="l-page l-page--404">
	<div class="l-container">

<div class="l-content">
	<div class="l-primary">
		<div class="p-page">
			<div class="p-page__title c-title">ページが存在しません</div><!-- /.p-archive__title -->
			<div class="p-page__content p-page-content">
				<p>申し訳ございません。ページが存在しません。</p>
				<p><a href="/" class="c-btn">トップへ戻る</a></p>
			</div><!-- /.p-page__content -->
		</div><!-- /.p-page -->
	</div><!-- /.l-primary -->
	<div class="l-secondary">
		{% section "sidebar" %}
	</div><!-- /.l-secondary -->
</div><!-- /.l-content -->

</div><!-- /l-container -->
</section><!-- /l-page -->
