<div class="l-archive">
	<div class="l-container">

<div class="l-content">
	<div class="l-primary">
		<div class="p-archive">
			<div class="p-archive__title c-title">{{ collection.title }}</div><!-- /.p-archive__title -->
			{% include 'products' %}
		</div><!-- /.p-archive -->
	</div><!-- /.l-primary -->
	<div class="l-secondary">
		{% section "sidebar" %}
	</div><!-- /.l-secondary -->
</div><!-- /.l-content -->

</div><!-- /l-container -->
</section><!-- /l-archive -->
