<div class="l-page">
	<div class="l-container">

<div class="l-content">
	<div class="l-primary">
		<div class="p-page">
			<div class="p-page__title c-title">{{ page.title }}</div><!-- /.p-archive__title -->
			<div class="p-page__content p-page-content">
				{{ page.content }}
			</div><!-- /.p-page__content -->
		</div><!-- /.p-page -->
	</div><!-- /.l-primary -->
	<div class="l-secondary">
		{% section "sidebar" %}
	</div><!-- /.l-secondary -->
</div><!-- /.l-content -->

</div><!-- /l-container -->
</section><!-- /l-page -->
